/*Imports*/
/* Colors */
/* Styles */
/* line 20, ../sass/syntax.scss */

.highlight {
  background-color: #2b2b2b !important;
  color: #92aab0;
  margin: 15px 20px 15px 20px;
  padding: 10px;
  font-family: "Ubuntu Mono", monospace;
}

.highlight code {
  background-color: #2b2b2b !important;
  color: #92aab0;
  font-family: "Ubuntu Mono", monospace;
  padding: 0;
  border: 0;
  border-radius: 0;
}

/* line 28, ../sass/syntax.scss */
.highlight .c {
  color: gray;
  font-style: italic;
}

/* Comment */
/* line 29, ../sass/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #313335;
}

/* Error */
/* line 30, ../sass/syntax.scss */
.highlight .k {
  font-weight: bold;
  color: #cb772f;
}

/* Keyword */
/* line 31, ../sass/syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 32, ../sass/syntax.scss */
.highlight .cm {
  color: #629755;
  font-style: italic;
}

/* Comment.Multiline */
/* line 33, ../sass/syntax.scss */
.highlight .cp {
  color: #629755;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 34, ../sass/syntax.scss */
.highlight .c1 {
  color: gray;
  font-style: italic;
}

/* Comment.Single */
/* line 35, ../sass/syntax.scss */
.highlight .cs {
  color: gray;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 36, ../sass/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 37, ../sass/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 38, ../sass/syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 39, ../sass/syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 40, ../sass/syntax.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 41, ../sass/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 42, ../sass/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 43, ../sass/syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 44, ../sass/syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 45, ../sass/syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 46, ../sass/syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 47, ../sass/syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 48, ../sass/syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 49, ../sass/syntax.scss */
.highlight .kd {
  font-weight: bold;
  color: #cb772f;
}

/* Keyword.Declaration */
/* line 50, ../sass/syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* Keyword.Reserved */
/* line 52, ../sass/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 53, ../sass/syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 54, ../sass/syntax.scss */
.highlight .s {
  color: #a5c25c;
}

/* Literal.String */
/* line 55, ../sass/syntax.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 56, ../sass/syntax.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 57, ../sass/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 58, ../sass/syntax.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 59, ../sass/syntax.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 60, ../sass/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 61, ../sass/syntax.scss */
.highlight .nf {
  color: #ffc66d;
  font-weight: bold;
}

/* Name.Function */
/* line 62, ../sass/syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 63, ../sass/syntax.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 64, ../sass/syntax.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 65, ../sass/syntax.scss */
.highlight .nx {
  color: #92aab0;
}

/* Name.Function */
/* line 66, ../sass/syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 67, ../sass/syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 68, ../sass/syntax.scss */
.highlight .mf {
  color: #6897bb;
}

/* Literal.Number.Float */
/* line 69, ../sass/syntax.scss */
.highlight .mh {
  color: #6897bb;
}

/* Literal.Number.Hex */
/* line 70, ../sass/syntax.scss */
.highlight .mi {
  color: #6897bb;
}

/* Literal.Number.Integer */
/* line 71, ../sass/syntax.scss */
.highlight .mo {
  color: #6897bb;
}

/* Literal.Number.Oct */
/* line 72, ../sass/syntax.scss */
.highlight .sb {
  color: #a5c25c;
}

/* Literal.String.Backtick */
/* line 73, ../sass/syntax.scss */
.highlight .sc {
  color: #a5c25c;
}

/* Literal.String.Char */
/* line 74, ../sass/syntax.scss */
.highlight .sd {
  color: #a5c25c;
}

/* Literal.String.Doc */
/* line 75, ../sass/syntax.scss */
.highlight .s2 {
  color: #a5c25c;
}

/* Literal.String.Double */
/* line 76, ../sass/syntax.scss */
.highlight .se {
  color: #a5c25c;
}

/* Literal.String.Escape */
/* line 77, ../sass/syntax.scss */
.highlight .sh {
  color: #a5c25c;
}

/* Literal.String.Heredoc */
/* line 78, ../sass/syntax.scss */
.highlight .si {
  color: #a5c25c;
}

/* Literal.String.Interpol */
/* line 79, ../sass/syntax.scss */
.highlight .sx {
  color: #a5c25c;
}

/* Literal.String.Other */
/* line 80, ../sass/syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 81, ../sass/syntax.scss */
.highlight .s1 {
  color: #a5c25c;
}

/* Literal.String.Single */
/* line 82, ../sass/syntax.scss */
.highlight .ss {
  color: #629755;
}

/* Literal.String.Symbol */
/* line 83, ../sass/syntax.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 84, ../sass/syntax.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 85, ../sass/syntax.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 86, ../sass/syntax.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 87, ../sass/syntax.scss */
.highlight .il {
  color: #6897bb;
}

/* Literal.Number.Integer.Long */
